# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Observability Superstore"

# Security
SECRET_KEY=obssuperstoresecret123
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=obs_superstore_db

# Kafka / Redis / Queue
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379

# Telemetry Endpoints
OTEL_RECEIVER_ENDPOINT=http://localhost:4317
PROMETHEUS_URL=http://localhost:9090
LOKI_URL=http://localhost:3100
TEMPO_URL=http://localhost:3200

# Retention Policies
HOT_STORAGE_RETENTION_DAYS=7
COLD_STORAGE_RETENTION_DAYS=365

# Grafana Dashboard
GRAFANA_URL=http://localhost:3000
GRAFANA_ADMIN_PASSWORD=admin
